<main>
    <section class="section">
        <div class="gallery">

            <!-- Картки зображень -->
        </div>
        <button type="button" class="load-more">Load more</button>

        <a class="scroll-btn is-hidden" title="Return to top">
            <svg class="scroll-btn__svg" width="24px" height="24px" aria-label="скролл">
                <use class="scroll-btn__img" href="./images/img-svg.svg#icon-arrow-up"></use>
            </svg>
        </a>
        </div>
    </section>
</main>