<header class="header">
    <form class="search-form" id="search-form">
        <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
        <button class="button-submit" id="button-submit" type="submit">

            <svg class="button-submit__svg" width="24px" height="24px" aria-label="скролл">
                <use class="button-submit__img" href="./images/img-svg.svg#icon-search"></use>
            </svg>

            <span class="button-submit__text">Search</span>

        </button>
    </form>
</header>